
$font-arial: Arial;
$color-map:( 
    "light-grey" : #565a5c,
    "light-grey-bg" : #f4f3f3,
    "red" :  #ef3f30,
    "teal" : #00afa0,
    "white" : #ffffff,
    "lighter-grey" : #ccc,
    "charcoal": #484848,
);



$font-bold: 700; 
$font-semibold: 600;
$font-normal: 400; 